<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ project.name }} Todos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center">{{ project.name }} Todos</h2>
      <br />
      <div class="mb-3">
        <a href="{% url 'create_todo' %}" class="btn btn-primary">Add New todo</a> <!-- Button to add new task -->
        <a href="{% url 'project_list' %}" class="btn btn-secondary ml-2">Back to Projects</a> <!-- Button to go back to categories -->
      </div>
      <table id="taskTable" class="table">
        <thead>
          <tr>
            <th>Task name</th>
            <th>Start Date</th>
            <th>Description</th>
            <!-- Button for sorting by priority -->
            <th>Actions</th> <!-- Column for actions -->
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
            <tr>
              <td>{{ todo.name }}</td>
              <td>{{ todo.start_date }}</td>
              <td>{{ todo.description }}</td>
              
              <td>
                <a href="{% url 'update_todo' todo.id %}" class="btn btn-primary btn-sm">Update</a> <!-- Button to update task -->
                <form method="post" action="{% url 'delete_todo' todo.id %}" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm">Delete</button> <!-- Button to delete task -->
                </form>

              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>